:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.full-width {
  width: 100%;
}

.right-align {
  text-align: right;
}

.my-button {
  text-align: center;
}

mat-form-field.mat-form-field.amount {
  font-size: 25px;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

.flax-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: 960px;
  gap: 10px;
}

.card {
  max-width: 100px;
}

.mat-badge-large .mat-badge-content {
  font-size: 12px;
}

.overlay {
  opacity: 0.4;
}

.mat-divider {
  padding: 20px 0 20px 0;
}

.spacer {
  flex: 1 1 auto;
}

.list {
}

.list img {
  max-width: 100px;
}

.headers-align {
  padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;

}
